@import "~styles/theme/theme.scss";

.todos_sections {
  background-color: $background-primary;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos_sections_main {
  position: relative;
  width: 450px;
  padding: 25px;
  background-color: #fff;

  &_header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &_content {
    padding-top: 20px;
  }
}