$font-primary: "lato";
$font-secondary: "montserrat";

// font colors 
$font-color-primary: #747981;
$font-color-disabled: #d7e6e1;

// background colors
$background-primary: #a9dac5;

//button 
$button-primary: #51e3a4;
$button-danger: #ff4d4f;
$button-disabled: #ddd;